# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.11
        environment:
          GO111MODULE: "ON"

    working_directory: /go/src/github.com/NBCFB/Dragonfly

    steps:
    - checkout

    # Log the current branch
    - run:
        name: Show current branch
        command: echo ${CIRCLE_BRANCH}

    - restore_cache:
        keys:
          - go-mod-v1-{{ checksum "go.sum" }}

    # Test
    - run:
        name: Run test
        command: go test ./...

    - save_cache:
        key: go-mod-v1-{{ checksum "go.sum" }}
        paths:
          - "/go/pkg/mod"
